/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    padding: 20px;
    text-align: center;
}



.grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200%;
    height: 70vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    border: 2px solid #BE9C79FF;
}






