.container {
    max-width: 1400px;
    padding: 20px;
    margin: 120px auto 0; /* Center container horizontally */
    text-align: center; /* Center the content inside the container */
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    justify-items: center;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #BE9C79FF;
    margin: 0 auto;
}

.item img {
    max-height: 50vh;
    width: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
}

.item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-color: #6a4c32;
    cursor: pointer;
}

.item h2 {
    font-size: 2rem; /* Increased font size */
    color: #6a4c32;
    margin: 10px 0;
}

.item p {
    padding: 0 20px 20px;
    color: #444;
    font-size: 1.3rem;
    line-height: 1.4;
}

.deposit {
    font-weight: bold;
    color: #8b5e34;
    margin-top: 10px;
}

a {
    text-decoration: none;
}
