@import url('https://fonts.googleapis.com/css?family=Merienda+One&family=Nunito:wght@200; 300;400;500;600&display=swap');
*{
    font-family: 'Nunito', sans-serif ;
    margin:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;

}
:root{
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;

}
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
/*Thanh dieu huong trang chu*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    background-image: url("Images/header.jpg");
    background-size: cover;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 1rem;
}

.header .flex .logo img {
    height: 4.8rem;
    margin-right: 2rem;
    border-radius: 30%;
    object-fit: cover;
}

.header .flex .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header .flex .navbar .left a,
.header .flex .navbar .right a{
    margin: 0 1rem;
    font-size: 1.68rem;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.header .flex .navbar .left a:not(:last-child):not(.dropdown-content a)::after,
.header .flex .navbar .right a:not(:last-child)::after {
    content: "/";
    color: #ccc;
    margin-left: 10px;
}
#menu-btn {
    display: none;
}
.header .flex .navbar .left a:hover,
.header .flex .navbar .right a:not(.icon):hover {
    color: #d6b38e;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: block;
    position: absolute;
    background-image: url("Images/header.jpg");
    width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.53s ease, transform 0.53s ease;
    pointer-events: none;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #be9c79;
}
/**/
.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.checkout-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.checkout-form {
    width: 800px;
    margin-right: 10px;
}
