@import url('https://fonts.googleapis.com/css?family=Merienda+One&family=Nunito:wght@200; 300;400;500;600&display=swap');
*{
    font-family: 'Nunito', sans-serif ;
    margin:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;

}
:root{
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;

}
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
/*Thanh dieu huong trang chu*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    background-image: url("Images/header.jpg");
    background-size: cover;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 1rem;
}

.header .flex .logo img {
    height: 4.8rem;
    margin-right: 2rem;
    border-radius: 30%;
    object-fit: cover;
}

.header .flex .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header .flex .navbar .left a,
.header .flex .navbar .right a{
    margin: 0 1rem;
    font-size: 1.68rem;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.header .flex .navbar .left a:not(:last-child):not(.dropdown-content a)::after,
.header .flex .navbar .right a:not(:last-child)::after {
    content: "/";
    color: #ccc;
    margin-left: 10px;
}
#menu-btn {
    display: none;
}
.header .flex .navbar .left a:hover,
.header .flex .navbar .right a:not(.icon):hover {
    color: #d6b38e;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: block;
    position: absolute;
    background-image: url("Images/header.jpg");
    width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.55s ease, transform 0.55s ease;
    pointer-events: none;
}
.dropdown-content .datban{
    width: 200px;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #be9c79;
}
#search-input {
    width: 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0; position: relative;
    top: -3px;
}
#search-icon.active #search-input {
    width: 200px;
    margin-left: 10px;
    padding: 0.5rem;
    opacity: 1;
    top: -3px;
}
#clear-btn {
    position: absolute;
    right: 305px;
    top: 48%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    color: rgba(19, 19, 19, 0.75);
    display: none;
}

#search-icon.active #clear-btn {
    display: block;
}

/**/
.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.checkout-form, .order-summary{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.checkout-form {
    width: 800px;
    margin-right: 10px;
}
.form-group {
    margin-bottom: 15px;
    font-size: 15px;

}
.form-group :focus{
    border: 1px solid #020101;

}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
textarea {
    resize: vertical;
    height: 200px;
}
.order-summary {
    width: 500px;
    border: 1px solid #e0a96d;
}
.order-summary h2{
    text-align: center;
}
.order-summary p {
    margin: 10px 0;
}
.do_Uong{
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.order-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}
.tong{
    color: #c81717;
    font-weight: bold;
}
.order-item, .order-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}
.order-item img{
    height: 45px;
    width:38px;
}
.order-item .ten_mon{
    margin-left: -70px;
}
.order-item .sl{
    margin-right: -5px;
}
.order-header .sluong{
    margin-right: -135px;
}
hr {
    border: 1px solid #ddd;
}
.form-group {
    margin-bottom: 15px;
    font-size: 15px;
}
.check_box{
    margin-top: 10px;
    font-weight: bold;
}
.order-btn {
    width: 100%;
    padding: 10px;
    background-color: #be9c79;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.order-btn.active {
    background-color: #dab993;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 5px;
}
h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
    justify-content: center;
}
h3{
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 35px;
}
/*Footer*/
footer {
    background-image: url("Images/header.jpg");
    color: #eee;
    margin-top: 50px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 100px;
}
.footer-section {
    margin: 10px;
    flex: 1;
    min-width: 150px;
}
.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 38px;
    color: #fff;
}
.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;

}
.footer-section ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 14px;
}
.contact-info {
    font-size: 14px;
    color: #eee;
    margin-left: 40px;
}
.contact-info a {
    color: #eee;
    text-decoration: none;
}
.social-media-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 40px;

}
.social-media-icons a{
    width: 20px;
    height: 50px;
    color:#fff
}
.footer-bottom {
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #999;
}
