/* style.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.login-container {
    background-image: url("Images/header.jpg");
    padding: 50px 40px; /* Increased padding to make form taller */
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    height: 450px;
}

