@import url('https://fonts.googleapis.com/css?family=Merienda+One&family=Nunito:wght@200; 300;400;500;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.login-container {
    background-image: url("Images/header.jpg");
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    height: 350px;
}

.logo img {
    margin-top: -75px;
    width: 200px;
    margin-bottom: -10px;
}

.login-form .button-FP {
    width: 100%;
    display: block;
    padding: 15px;
    background-color: #be9c79;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 60px;
}
.login-form .button-FP:hover {
    color: #ffdcb9;
}
/* Thêm hiệu ứng cho nút đăng nhập và nút tạo tài khoản */
.login-form button:hover, .signUp-form button:hover, .login-form .button-FP:hover {
    background-color: #8f755b; /* Tối màu khi hover */
    transform: scale(1.05); /* Phóng to nhẹ */
    transition: all 0.3s ease; /* Thêm hiệu ứng mượt mà */
}

.login-form input:hover, .signUp-form input:hover {
    border: 0,5px solid #be9c79; /* Viền sáng lên khi hover */
}