body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #f4f6f9;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-btn {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
}

.sidebar-btn:hover {
    background-color: #be9c79;
}

.sidebar-btn.active {
    background-color: #0B3649;
    color: #ffffff;
    border: none;
}

.main-content {
    width: 80%;
    padding: 30px;
    background-color: #ffffff;
}

form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
    height: 80px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
}

.update {
    background-color: #0B3649;
    color: #ffffff;
}


.info-text {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
