
/**/
.container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.checkout-form, .order-summary{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.checkout-form {
    width: 800px;
    margin-right: 10px;
}
.form-group {
    margin-bottom: 15px;
    font-size: 15px;

}
.form-group :focus{
    border: 1px solid #020101;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
textarea {
    resize: vertical;
    height: 200px;
}
.order-summary {
    width: 500px;
    border: 1px solid #e0a96d;
}
.order-summary h2{
    text-align: center;
}
.order-summary p {
    margin: 10px 0;
}
.do_Uong{
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.order-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}
.tong{
    color: #c81717;
    font-weight: bold;
}
.order-item, .order-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}
.order-item img{
    height: 45px;
    width:38px;
}
.order-item .ten_mon{
    margin-left: -70px;
}
.order-item .sl{
    margin-right: -5px;
}
.order-header .sluong{
    margin-right: -135px;
}
hr {
    border: 1px solid #ddd;
}
.reservation-info {
    background-color: #f7f7f7;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.reservation-info p {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    margin: 0;
    color: #333;
}
.info-detail {
    color: #c81717;
    font-weight: bold;
    margin-left: auto;
    text-align: right;
    margin-right: -35px;
}
.form-group {
    margin-bottom: 15px;
    font-size: 15px;
}
.check_box{
    margin-top: 10px;
    font-weight: bold;
}
.order-btn {
    width: 100%;
    padding: 10px;
    background-color: #dab993;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.order-btn.active {
    background-color: #be9c79;
    cursor: pointer;

}
input[type="checkbox"] {
    margin-right: 5px;
}
h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
    justify-content: center;
}
h3{
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 35px;
}
