@import url('https://fonts.googleapis.com/css?family=Merienda+One&family=Nunito:wght@200; 300;400;500;600&display=swap');
*{
    font-family: 'Nunito', sans-serif ;
    margin:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;

}
:root{
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

}
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
/*Thanh dieu huong trang chu*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("Images/header.jpg");

}
.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .logo img {
    height: 4.8rem;
    margin-right: 2rem;
    border-radius: 30%;
    object-fit: cover;
}

.header .flex .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header .flex .navbar .left a,
.header .flex .navbar .right a{
    margin: 0 1.5rem;
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.header .flex .navbar .right-links {
    display: flex;
    align-items: center;
}
#menu-btn {
    display: none;
}
.header .flex .navbar .left a:hover,
.header .flex .navbar .right a:hover {
    background-color: #be9c79;
    cursor: pointer;
}
/**/
.home-bg{
    background:linear-gradient(90deg, var(--white), transparent 70%), url("Images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.home-bg .home{
    min-height: 70rem;
    display: flex;
    align-items: center;
}
.home-bg .home .noi_dung{
    width: 50rem;
    text-align: center;
}
.home-bg .home .noi_dung h3{
    font-size: 6rem;
    color: var(--black);
    font-family: 'Merienda one', cursive;
}
.home-bg .home .noi_dung p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--black);
    line-height: 2;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 5%;
    object-fit: cover;
}
.btn:hover{
    background-color: var(--black);
}
/*about*/
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}
.about .image{
    flex:1 1 40rem;
}
.about .image img{
    width: 100%;
    border-radius: 30%;
    object-fit: cover;
    border: 5px solid #BE9C79FF;
}
.about .noi_dung{
    flex:1 1 32rem;
}
