@import url('https://fonts.googleapis.com/css?family=Merienda+One&family=Nunito:wght@200; 300;400;500;600&display=swap');
*{
    font-family: 'Nunito', sans-serif ;
    margin:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;

}
:root{
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

}
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
/*Thanh dieu huong trang chu*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    background-image: url("Images/header.jpg");
    background-size: cover;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .logo img {
    height: 4.8rem;
    margin-right: 2rem;
    border-radius: 30%;
    object-fit: cover;
}

.header .flex .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header .flex .navbar .left a,
.header .flex .navbar .right a{
    margin: 0 1.4rem;
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.header .flex .navbar .right-links {
    display: flex;
    align-items: center;
}
#menu-btn {
    display: none;
}
.header .flex .navbar .left a:hover,
.header .flex .navbar .right a:hover {
    background-color: #be9c79;
    cursor: pointer;
}

/* san pham moi */
.carousel {
    display: flex;
    overflow-x: auto;
    padding: 40px 200px;

}
.sp_moi{
    position: relative;
    background: #FAF8F6;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 220px;
    padding: 15px;
    text-align: center;

    transition: transform 0.3s ease;
    margin: auto;
}
.sp_moi img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: cover;
}
.sp_moi h3 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}
.label {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #FF6347;
    color: #FFF;
    font-size: 0.7rem;
    padding: 3px 8px;
    border-radius: 5px;
    text-transform: uppercase;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.gia {
    font-weight: 520;
    color: var(--black);
}
.giohang {
    background: #F3F3F3;
    border: 1px solid #C0A47B;
    color: #444;
    padding: 5px 15px;
    font-size: 0.85rem;
    font-weight: 520;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.sp_moi:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.giohang:hover{
    background: #C0A47B;
    color: #FFF;
}

/**/
.home-bg{
    background:linear-gradient(90deg, var(--white), transparent 70%), url("Images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.home-bg .home{
    min-height: 70rem;
    display: flex;
    align-items: center;
}
.home-bg .home .noi_dung{
    width: 50rem;
    text-align: center;
}
.home-bg .home .noi_dung h3{
    font-size: 6rem;
    color: var(--black);
    font-family: 'Merienda one', cursive;
}
.home-bg .home .noi_dung p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--black);
    line-height: 2;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 5%;
    object-fit: cover;
}
.btn:hover{
    background-color: var(--black);
}
/*about*/
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}
.about .image{
    flex:1 1 40rem;
}
.about .image img{
    width: 100%;
    border-radius: 30%;
    object-fit: cover;
    border: 5px solid #BE9C79FF;
}
.about .noi_dung{
    flex:1 1 32rem;
}
.about .noi_dung h3{
    font-size: 4.5rem;
    color:var(--black);
    font-family: 'Merienda one', cursive;
}
.about .noi_dung p{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;
}
/*menu*/
.menu .box-container{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items:flex-start;
}
.heading{
    text-align: center;
    margin-bottom: 4rem;
}
.heading img{
    height: 7rem;
    margin-bottom: 0.3rem;
}
.heading h3{
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda one', cursive;
}
