@import url('https://fonts.googleapis.com/css?family=Merienda+One&family=Nunito:wght@200; 300;400;500;600&display=swap');
*{
    font-family: 'Yanone', sans-serif ;
    margin:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;

}
:root{
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;

}
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
/*Thanh dieu huong trang chu*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("Images/header.jpg");
    background-size: cover;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 1rem;
}

.header .flex .logo img {
    height: 4.8rem;
    margin-right: 2rem;
    border-radius: 30%;
    object-fit: cover;
}

.header .flex .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header .flex .navbar .left a,
.header .flex .navbar .right a{
    margin: 0 1rem;
    font-size: 1.68rem;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.header .flex .navbar .left a:not(:last-child):not(.dropdown-content a)::after,
.header .flex .navbar .right a:not(:last-child)::after {
    content: "/";
    color: #ccc;
    margin-left: 10px;
}
#menu-btn {
    display: none;
    font-size: 1.68rem;
    color: var(--white);
    cursor: pointer;
}
.header .flex .navbar .left a:hover,
.header .flex .navbar .right a:not(.icon):hover {
    color: #d6b38e;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: block;
    position: absolute;
    background-image: url("Images/header.jpg");
    width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.55s ease, transform 0.55s ease;
    pointer-events: none;
}
.dropdown-content .datban{
    width: 200px;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #757575;
}
#search-input {
    width: 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0; position: relative;
    top: -3px;
}
#search-icon.active #search-input {
    width: 200px;
    margin-left: 10px;
    padding: 0.5rem;
    opacity: 1;
    top: -3px;
}
#clear-btn {
    position: absolute;
    right: 305px;
    top: 48%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    color: rgba(19, 19, 19, 0.75);
    display: none;
}

#search-icon.active #clear-btn {
    display: block;
}

/* san pham moi */
.carousel {
    display: flex;
    padding: 40px 100px;
}
.sp_moi{
    position: relative;
    background: #FAF8F6;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 280px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    margin: auto;
}
.sp_moi img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: cover;
}
.sp_moi h3 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}
.label {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #FF6347;
    color: #FFF;
    font-size: 0.7rem;
    padding: 3px 8px;
    border-radius: 5px;
    text-transform: uppercase;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.gia{
    color: var(--black);
}
.giohang {
    background: #FAF8F6;
    border: 1px solid #C0A47B;
    color: var(--black);
    padding: 5px 15px;
    font-size: 0.85rem;
    font-weight: 520;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.sp_moi:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.giohang:hover{
    color: #fff;
    background: #C0A47B;
}
/*san pham ban chay*/
.carousel_bt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 100px;
    justify-content: center;
}
.best-sellers h2 {
    text-align: center;
    font-size: 2rem;
    color: #444;
    margin: 5px 0;
}
.sp_banchay {
    position: relative;
    background: #FAF8F6;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 100%;
    max-width: 280px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
}
.sp_banchay img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: cover;
}
.sp_banchay h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}
.label_bt {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #FF6347;
    color: #FFF;
    font-size: 0.7rem;
    padding: 3px 8px;
    border-radius: 5px;
    text-transform: uppercase;
}
.container_bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.container_bt .gia {
    font-size: 1rem;
    color: #333;
}
.container_bt .giohang {
    padding: 5px 10px;
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}
.sp_banchay:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    cursor:pointer;
}
.giohang:hover {
    background: #C0A47B;
    border-color: #C0A47B;
    color: #FFF;
}
/**/
.home-bg{
    background: url("Images/wallpaper3.png") ;
    background-size: cover;
    background-position: center;
}
.home-bg .home{
    min-height: 70rem;
    display: flex;
    align-items: center;
}
.home-bg .home .noi_dung{
    width: 50rem;
    text-align: center;
}
.home-bg .home .noi_dung h3{
    font-size: 6rem;
    color: var(--black);
    font-family: 'Merienda one', cursive;
}
.home-bg .home .noi_dung p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--black);
    line-height: 2;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 5%;
    object-fit: cover;
}
/*about*/
.about{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}
.about .image{
    flex:1 1 40rem;
}
.about .image img{
    width: 100%;
    border-radius: 30%;
    object-fit: cover;
    border: 5px solid #BE9C79FF;
}
.about .noi_dung{
    flex:1 1 32rem;
}
.about .noi_dung h3{
    font-size: 4.5rem;
    color:var(--black);
    font-family: 'Merienda one', cursive;
}
.about .noi_dung p{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;
}
/*menu*/
.menu {
    text-align: center;
    padding: 3rem 1.5rem;
}

.menu .box-container {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 2rem;
}

.menu .box {
    width: 300px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    color: #555;
}

.menu .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu .box img.ic {
    width: 150px;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.8s ease;
}

.menu .box img:not(.ic) {
    width: 100px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: transform 0.8s ease;
}

.menu .box img:hover {
    transform: scale(1.1);
}

.menu .box h3 {
    font-size: 1.8rem;
    color: #8b5e34;
    margin-bottom: 1rem;
}

.menu .box p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #555;
    text-align: center;
}

/*Không gian quán*/
.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -50px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.space {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px;
}

.image_space_1, .image_space_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-container {
    position: relative;
    width: 800px;
    height: 400px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px;
}

.image_space_2 .image-container {
    width: 1600px;
    height: 500px;
}

.image_space_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.image-container .overlay-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.image-container:hover .overlay {
    opacity: 1;
}


/*Tin tức & Sự kiện*/
.carousel-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -25px;
    color: #444;
    text-align: center;
     margin-top: 20px;
}
.slider-container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.tintuc_sk {
    padding: 20px 10px;
    max-width: 1800px;
    margin: 0 auto;
}

.tintuc_sk .item_ttsk {
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.tintuc_sk .item_ttsk .tintuc{
    width: 450px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 5px;
    align-items: center;
}
.tintuc_sk .item_ttsk .nd_sk{
    margin-top: -20px;
    font-size: 1.5rem;
    color: #555;
    text-align: left;
    width: 400px;
}
.tintuc_sk .item_ttsk .nd_sk, .tintuc_sk .item_ttsk .tintuc{
   cursor: pointer;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF !important;
    background-color: rgba(67, 61, 61, 0.15) !important;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    opacity: 0;
}

.slider-container:hover .swiper-button-next,
.slider-container:hover .swiper-button-prev {
    opacity: 1;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 2rem !important;
}

.swiper-pagination-bullet {
    background-color: #be9c79 !important;
}
/**/
footer {
    background-image: url("Images/header.jpg");
    color: #eee;
    margin-top: 50px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 100px;
}
.footer-section {
    margin: 10px;
    flex: 1;
    min-width: 150px;
}
.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 38px;
    color: #fff;
}
.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;

}
.footer-section ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 14px;
}
.contact-info {
    font-size: 14px;
    color: #eee;
    margin-left: 40px;
}
.contact-info a {
    color: #eee;
    text-decoration: none;
}
.social-media-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 40px;

}
.social-media-icons a{
    width: 20px;
    height: 50px;
    color:#fff
}
.footer-bottom {
    border-top: 1px solid #555;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #999;
}
/**/
/* Mobile-first responsive design */
@media (max-width: 850px) {
    html {
        font-size: 50%; /* Giảm kích thước font cho màn hình nhỏ */
    }

    .navbar .left {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-image: url("Images/header.jpg");
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar .left a {
        margin-top: 15px;
        font-size: 1.6rem;
        text-align: center;
        color: white;
    }

    #menu-btn {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 2.5rem;
        cursor: pointer;
        color: #fff;
        z-index: 1000;
    }
    .navbar.active .left {
        transform: translateX(0);
    }
    section {
        padding: 2rem 1rem;
    }
    .carousel {
        flex-direction: column;
        padding: 1rem;
    }
    .sp_moi,
    .sp_banchay {
        width: 100%;
    }
    .carousel_bt {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .home-bg .home .noi_dung h3 {
        font-size: 4rem;
    }

    .home-bg .home .noi_dung p {
        font-size: 1.4rem;
    }

    .about {
        flex-direction: column;
        gap: 4rem;
    }

    .about .image,
    .about .noi_dung {
        flex: 1 1 auto;
    }

    .menu .box-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .menu .box {
        width: 90%;
        margin: 0 auto;
    }

    /* Không gian quán adjustments */
    .space {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    .image-container {
        width: 100%;
        height: auto;
    }

    .image-container img {
        border-radius: 10px;
    }

    /* Tin tức & Sự kiện adjustments */
    .tintuc_sk {
        padding: 1rem;
    }

    .tintuc_sk .item_ttsk {
        padding: 1rem;
    }

    .tintuc_sk .item_ttsk .tintuc {
        width: 90%;
        height: auto;
    }

    .tintuc_sk .item_ttsk .nd_sk {
        width: 90%;
        font-size: 1.2rem;
    }

    /* Footer adjustments */
    footer .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-section {
        min-width: auto;
        margin: 1rem 0;
    }

    .footer-section h4 {
        font-size: 16px;
    }

    .footer-section ul li a {
        font-size: 12px;
    }
}

/* For extra small screens */
@media (max-width: 480px) {
    .header .flex .navbar {
        align-items: center;
    }

    .header .flex .navbar a {
        font-size: 1.2rem;
    }

    .home-bg .home .noi_dung h3 {
        font-size: 3.2rem;
    }

    .about .noi_dung h3 {
        font-size: 3.6rem;
    }

    .menu .box {
        width: 100%;
    }

    .carousel_bt {
        grid-template-columns: 1fr;
    }
}


