
  body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f9f9f9;
  position: relative;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  background: #fff;
  border: 2px solid #020101;
  padding: 20px;
  justify-content: space-between; /* Space between the image and form */
  gap: 20px; /* Equal space between image and form */
}

.image img {
  height: 500px;
  width: auto; /* Maintain aspect ratio */
  margin-right: 20px;
}

.form-section {
  width: 60%; /* Adjust the form width */
}

h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 16px;
  color: #130909;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

input, select {
  border: 2px solid #020101;
}

button {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  opacity: 0.5; /* Initially disabled */
  pointer-events: none; /* Initially disabled */
}

button:hover {
  background-color: #1976d2;
}

button.enabled {
  opacity: 1; /* Enabled state */
  pointer-events: auto;
}

